body{
    background-color: lightgray;
    overflow-x: hidden;
}
.searchBtn {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.searchBar {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.wrapper{
    margin-top: 100px;
    padding-top: 25px;
    justify-content: center;
    background-color: #F2F2F2;

}

h1{
    text-align: center;
}

.accordion{
    text-align: left;
}

header{
    background-color: white;
}

h1{
    color: #023E73;
}
h2{
    color: #023E73;
}
h3{
    color: #023E73;
}
h4{
    color: #023E73;
}
h5{
    color: #023E73;
}
h6{
    color: #023E73;
}

.primary{
    background-color: #023E73;
}

button{
    border-radius: 0;
}

.endBit{
    padding: 1rem;
    background-color: #D6E0EA;
    color: #262223;
}

.menuBar{
    max-height:500px;/* you can change as you need it */
   overflow-y: auto;/* to get scroll */
   overflow-x: hidden;
}